

			
 
			.header_background_color{background:linear-gradient(to right bottom, rgba(50, 182, 226, 0.9), rgba(233, 12, 12, 0.9))!important}

			.sub_header_background_color{background:linear-gradient(to left bottom, rgba(160, 39, 39, 0.9), rgba(56, 46, 46, 0.9))!important}

            
			.bg_card_body{background:linear-gradient(to bottom, rgba(184, 46, 46, 0.9), rgba(246, 234, 234, 0.9))!important}


			.side_menu_bg{background:linear-gradient(to bottom, rgba(188, 32, 32, 0.9), rgba(124, 106, 106, 0.9))!important}

			.side_menu_l1_bg{background:linear-gradient(to left bottom, rgba(154, 40, 40, 0.9), rgba(31, 214, 67, 0.9))!important;

			border-bottom:  1px solid rgb(224, 16, 16)!important;
		    }
         

			.side_menu_l2_bg{background:linear-gradient(to left top, rgba(201, 19, 19, 0.9), rgba(22, 59, 208, 0.9))!important;

			border-bottom:  1px solid rgb(238, 220, 23)!important;
		    }

			.side_menu_l3_bg{background:linear-gradient(to right top, rgba(10, 7, 213, 0), rgba(242, 242, 253, 0))!important;

			border-bottom:  1px solid rgb(23, 186, 183)!important;
		    }


			.body_content_bg{
			background:linear-gradient(to left top, rgba(229, 16, 16, 0.9), rgba(41, 36, 36, 0.9)),
			 url('')!important;

		     }

			.body_bg{
			
			background:linear-gradient(to left top, rgba(190, 39, 39, 0.9), rgba(41, 30, 30, 0.9)),
		
			 url('')!important;

		    }

			.card_header_bg{
					
			  background:linear-gradient(to left top, rgba(201, 38, 38, 0.9), rgba(244, 230, 230, 0.9)),
		
			  url('')!important;

			 
		      }

              
			.header_color{color: rgb(33, 28, 28)!important}
			.card_header_color{color: rgb(198, 36, 36)!important}
			.body_color{color: rgb(212, 12, 12)!important}
		


			.sub_header_pg_text_color{color: rgb(38, 201, 71)!important}
			.sub_header_controller_text_color{color: rgb(32, 38, 213)!important}
			.sub_header_options_text_color{color: rgb(215, 9, 9)!important}
			.card_body_color{color: rgb(26, 193, 46)!important}
			.side_menu_l1_color{color: rgb(215, 29, 166)!important}
			.side_menu_l2_color{color: rgb(33, 176, 121)!important}
			.side_menu_l3_color{color: rgb(24, 22, 22)!important}
			.body_content_color{color: rgb(233, 221, 221)!important}
			.card_header_color{color: rgb(198, 36, 36)!important}
			.project_name_color{color: rgb(205, 24, 24)!important}


			