.sp-replacer {

    border: solid 1px #91765d !important;
    width: 50px;
}
/* .w-15{
    width: 50px;
} */
/* .sp-replacer {
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    padding: 4px;
    display: inline;
    border: solid 1px #91765d !important;
    background: #eee;
    color: #333;
    vertical-align: middle;
} */

/* padding: 4px; */
